/abbrev_defs
/custom.el
/eln-cache
/emacs.bmk
/eww-bookmarks
/forge-database.sqlite
/games/
/ido.last
/ispell_english
/last-package-update-day
/lsp-session-v1/
/multisession/
/network-security.data
/places
/projectile*
/projects
/recentf
/smex-items
/tramp
/transient/
/tree-sitter/
/url/
/xkcd/
