/abbrev_defs
/custom.el
/eln-cache
/emacs.bmk
/forge-database.sqlite
/ido.last
/ispell_english
/last-package-update-day
/lsp-session-v1/
/network-security.data
/places
/projectile*
/recentf
/smex-items
/tramp
/transient/
/tree-sitter/
/xkcd/
